@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

header{
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
}

header nav{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav img{
    max-width: 150px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li a{
    font-style: italic;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

main.menu{
    position: relative;
    background-color: #000;
    width: 100%;
    min-height: 650px;
    background-image: url(../IMG/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;

}

main.menu div{
    position: absolute;
    color: white;

    top: 70px;
    left: 70px;
}

main.menu div ul{
    list-style: none;

}

main.menu div ul li{
    margin: 20px;
    padding: 15px 10px;
    border-radius: 10px 0 10px 0;
}

main.menu div ul li a{
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    
}
/*----------------------*/
.item-con{
    width: 200px;
    background-color: red;

}

.item-con a{
    padding: 10px 90px 10px 0;
}
.item-con:hover{
    transition: .3s;
    background-color: rgb(253, 79, 79);
}
/*----------------------*/
.item-comp{
    width: 150px;
    background-color: red;

}
.item-comp a{
    padding: 10px 70px 10px 0;
}

.item-comp:hover{
    transition: .3s;
    background-color: rgb(253, 79, 79);
}
/*----------------------*/

.item-ven{
    width: 100px;
    background-color: red;
}
.item-ven a{
    padding: 10px 50px 10px 0;
}
.item-ven:hover{
    transition: .3s;
    background-color: rgb(253, 79, 79);
}
/*----------------------*/
.item-cont{
    font-size: 13px;
    width: 200px;
    background-color: white;
}
.item-cont:hover{
    transition: .3s;
    background-color: #ccc;
}
/*----------------------*/


/*-----MENU MOBILE-----*/

nav.menu-mobile{
    display: none;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url(../IMG/icon-mobile.gif);
    cursor: pointer;

}

/* RESPONSIVO */

@media screen and (max-width: 768px){
    main.menu{
        width: 100%;
    }

    main.menu div{
        top: 50;
        left: 0;
    }
    nav.menu-desktop{
        display: none;
    }

    nav.menu-mobile{
        display: block;
    }
    
}
