*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
}

header nav{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav img{
    max-width: 150px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

header nav ul li a{
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

main.menu{
    position: relative;
    background-color: #000;
    width: 100%;
    height: 600px;
    background-image: url(../IMG/bg.jpg);
    background-position: right;
    background-repeat: no-repeat;

}

main.menu div{
    position: absolute;
    color: white;

    top: 100px;
    left: 100px;
}

main.menu div ul{
    list-style: none;

}

main.menu div ul li{
    font-weight: 600;
    margin: 20px;
    padding: 10px 15px;
    background-color: red;
    
}


